@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="signup-wrapper d-flex justify-content-center flex-wrap w-100">
    <div class="signup-body p-4 w-25 mt-5 mb-5">
        <div class="form-title">Sign Up</div>
        <div class="auth-wrapper">
            <div class="desc hasta text-center btn-danger pt-1 pb-1 mb-1"><p>Authorize Id = 1 => Patient</p></div>
            <div class="desc eczaci text-center btn-warning pt-1 pb-1 mb-1"><p>Authorize Id = 2 => Pharmacist</p></div>
            <div class="desc doktor text-center btn-success pt-1 pb-1 mb-3"><p>Authorize Id = 3 => Doctor</p></div>
        </div>
        <form method="post" asp-controller="User" asp-action="InsertUser">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" name="Name" class="form-control" id="name">
            </div>

            <div class="mb-3">
                <label for="Surname" class="form-label">Surname</label>
                <input type="text" name="Surname" class="form-control" id="surname">
            </div>

            <div class="mb-3">
                <label for="AuthorizeId" class="form-label">Authorized Id</label>
                <input type="text" name="AuthorizeId" class="form-control" id="authorizedId">
            </div>

            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" name="Email" class="form-control" id="email">
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="password" name="Password" class="form-control" id="password">
                <div id="passwordHelp" class="form-text">We'll never share your password with anyone else.</div>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>