@model ErrorViewModel
@{
    ViewData["Title"] = "Authorized Error";
}

<div class="error-page">
    <div class="row">
        <div class="page-top col-md-12">
            <div class="col-md-6">
                <a href="https://e-okul.meb.gov.tr/">
                    <img src="https://e-okul.meb.gov.tr/theme/able/assets/images/eokullogo.png"/>
                </a>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="page-center col-md-6">
            <div class="text-danger">ERROR!</div>
            <div class="text-danger">Students are not authorized to enter E-Okul!!</div>
        </div>
    </div>
</div>






